@{
    ViewData["Title"] = "Home Page";
}

<head></head>
<body style="background-image: url(../Images/food.jpg); background-size: cover;">
    <div class="container">
        <div class="row center">
            <div class="col">
                <a id="homeBtn" href="../Order/Display" class="btn btn-warning rounded">FOOD LIST</a>
                <a id="homeBtn" href="../Order/Create" class="btn btn-warning rounded">ORDER FOOD</a>
            </div>
        </div>
    </div>
</body>
